.contacts {
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    height: 50px;
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.contacts:hover {
    background-color: #323266;
}

.contacts p, h4 {
    margin: 0;
}

.contacts:hover p {
    color: white;
}

.contacts:hover h4 {
    color: white;
}

.contacts svg {
    color: #323266;
}

.contacts:hover svg {
    color: #cb9964
}

.contact-div {
    /* border: 1px solid red; */
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.contact-text {
    padding-left: 20px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}
