.home-main p {
    margin-top: 40px;
}

.home-main {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.slideshow {
    height: 500px;
}

.view-course {
    background-color: #323266;
    color: white;
    margin: 10px;
    width: 30vw;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.view-course:hover {
    color: #cb9964;
    cursor: pointer;
}

.main-text {
    background-color: white;
    width: 60vw;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    /* height: 50vh; */
}

.main-text p{
    max-width: 1200px;
    margin: 20px 50px;
    text-align: left;
}

.main-section {
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    /* height: 50vh; */
}

@media (max-width: 900px) {

    .home-main {
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    .main-text {
        width: 80vw;
    }

    .main-section {
        margin: 20px;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
