main p {
    margin-top: 40px;
}

main {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow {
    height: 500px;
}

.view-course {
    background-color: #323266;
    color: white;
    margin: 10px;
    width: 30vw;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.view-course:hover {
    color: #cb9964;
    cursor: pointer;
}

/* .main-text p{
    display: flex;
    align-items: center;
} */

.main-text {
    background-color: white;
    width: 60vw;
    border-radius: 5px;
    margin: 20px;
}

.main-text p{
    max-width: 1200px;
    margin: 50px 50px;
}

.main-section {
    background-color: white;
    border-radius: 5px;
}
