/* Navbar.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #333;
    color: white;
} */

.logo {
    width: 50px;
}

header h1 {
    font-size: clamp(16px, 3vw, 32px);
}

nav {
    position: relative;
}

.hamburger {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    /* color: white; */
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-link {
    /* color: white; */
    text-decoration: none;
}

/* Responsive styling for screens below 900px */
@media (max-width: 900px) {

    /* Hide the nav links by default */

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 0;
        background-color: red;
        width: 100px;
        height: 170px;
        padding: 1em;
    }

    /* Show the nav links when the menu is open */
    nav ul.show {
        display: flex;
    }

    /* Show the hamburger icon */
    .hamburger {
        display: block;
    }
}
