.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(53, 53, 53);
}

@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Manrope:wght@200..800&family=Rubik&display=swap");

h1, h2, h3, h4 {
  font-family: 'Manrope';
}

.course-section {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #1a1a1a;
  color: white;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.footer-div {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.footer-div h4{
  margin-bottom: 10px;
}

.footer-div p {
  color: grey;
  margin-bottom: 3px;
}

.footer-logo {
  width: 6rem;
}

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Rubik&display=swap');

.footer-motto {
  font-family: 'Imperial Script';
  font-size: 30px;
}
