.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  
}

header {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: #282c34;
  height: 80px;
}

.logo {
  object-fit: contain;  
  height: 80px;
}

footer {
  background-color: #282c34;
  color: white;
  align-items: flex-end;
}

nav {
  height: 100%;
}

nav ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  justify-content: end;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: white;
}


nav li {
  /* justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: red;
  height: 100%; */
  padding: 0px 10px; 
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  width: 70px;
  height: 100%;
}

nav li:hover {
  background-color: blue;
  color: white;
}

footer {
  height: 10vh;
}
